<!DOCTYPE html>
<html lang="en" ng-app="meuModulo">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body ng-controller="indexController">
  <header class="container">
    <div class="row">
      <h2 ng-bind="titulo"></h2>
    </div>
  </header>

  <main class="container">
    <div id="row">
      <input type="search" placeholder="Busca" ng-model="busca">
    </div>

    <div class="row">

      <table class="striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Nota1</th>
            <th>Nota2</th>
            <th>Nota3</th>
            <th>Média</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="aluno in alunos | filter: busca">
            <td ng-bind="aluno.nome"></td>
            <td ng-bind="aluno.email">email.com</td>
            <td ng-bind="aluno.nota1">1</td>
            <td ng-bind="aluno.nota2">2</td>
            <td ng-bind="aluno.nota3">3</td>
            <td ng-bind="aluno.media"></td>
            <td>
              <button class="btn blue" ng-click="editarAluno(aluno)">Editar</button>
              <button class="btn red" ng-click="deletarAluno(aluno)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="row">
      <a class="waves-effect waves-light btn" ng-click="abreAddAluno()">Adicionar</a>
    </div>
  </main>

  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 ng-if="!editando">Adicionar Aluno</h4>
      <h4 ng-if="editando">Editando Aluno</h4>
      <p>Preencha os dados do aluno</p>
      <div class="row">
        <div class="input-field col m6 s12">
          <input type="text" ng-model="aluno.nome" placeholder="Nome">
        </div>
        <div class="input-field col m6 s12">
          <input type="text" ng-model="aluno.email" placeholder="Email">
        </div>
        <div class="input-field col m4 s12">
          <input type="text" ng-model="aluno.nota1" placeholder="Nota 1">
        </div>
        <div class="input-field col m4 s12">
          <input type="text" ng-model="aluno.nota2" placeholder="Nota 2">
        </div>
        <div class="input-field col m4 s12">
          <input type="text" ng-model="aluno.nota3" placeholder="Nota 3">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a ng-if="!editando" class="waves-effect waves-green btn blue" ng-click="addAluno(aluno)">Adicionar</a>
      <a ng-if="editando" class="waves-effect waves-green btn blue" ng-click="salvarAluno(aluno)">Salvar</a>
    </div>
  </div>




  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="node_modules/angular/angular.min.js"></script>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.modal')
        let instances = M.Modal.init(elems, open())
    })
  </script>

  <script type="text/javascript">
    angular.module("meuModulo", [])
    .controller("indexController", function($scope){
      $scope.titulo = "Sistema com AngularJS"

      $scope.alunos = [
        {nome: "Victor", email: "victorsm9@hotmail.com", nota1:65, nota2:80, nota3:55},
        {nome: "Pedro", email: "petro@hotmail.com", nota1:70, nota2:90, nota3:45},
        {nome: "Murilo", email: "murilo@hotmail.com", nota1:60, nota2:80, nota3:40},
        {nome: "Joao", email: "joao@hotmail.com", nota1:50, nota2:75, nota3:70}
      ]

      var init = function(){
        $scope.alunos.forEach(aluno => {
          aluno.media = media(aluno)
        });
        limpaForm()
      }

      var media = function(aluno) {
        console.log('calculou media')
        return ((parseFloat(aluno.nota1) + parseFloat(aluno.nota2) + parseFloat(aluno.nota3)) / 3).toFixed(2)
      }

      $scope.abreAddAluno = function(){
        $scope.editando = false
        limpaForm()
        $('#modal1').modal('open')
      }

      $scope.addAluno = function(aluno){
        aluno.media = media(aluno)
        $scope.alunos.push(aluno)
        $('#modal1').modal('close')
        limpaForm()
      }

      $scope.editando = false
      var alunoEditar;
      $scope.editarAluno = function(aluno){
        $scope.editando = true
        angular.copy(aluno, $scope.aluno)
        $('#modal1').modal('open')
        alunoEditar = aluno
      }

      $scope.salvarAluno = function(aluno){
        alunoEditar.nome = aluno.nome
        alunoEditar.email = aluno.email
        alunoEditar.nota1 = aluno.nota1
        alunoEditar.nota2 = aluno.nota2
        alunoEditar.nota3 = aluno.nota3
        alunoEditar.media = media(aluno)
        $('#modal1').modal('close')
      }

      $scope.deletarAluno = function(aluno){
        for(var index in $scope.alunos){
          var aux = $scope.alunos[index]
          if (aluno === aux)
            $scope.alunos.splice(index, 1)
        }
      }

      var limpaForm = function(){
        $scope.aluno = {nome: "", email: "", nota1:"", nota2:"", nota3:"", media: ""}
      }

      init()
    })
  </script>
</body>
</html>